.modal-alert-danger {
    padding: 10px 35px;
    margin-bottom: 15px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

label.error {
    display: list-item;
    margin-top: 5px;
    color: #842029;
}

input.error {
    border: 1px solid red;
}

.show {
    display: block!important;
}

.hide {
    display: none!important;
}