
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebar-left">
    <ul class="metismenu" id="side-menu">

        <li class="menu-title">Navigation</li>

        <li>
            <a href="/drugs" class="waves-effect">
                <i class="fas fa-file-medical"></i>
                <span> Medicine Management </span>
            </a>
        </li>

        <li>
            <a href="/users" class="waves-effect">
                <i class="ion-ios-apps"></i>
                <span> User Management </span>
            </a>
        </li>

        <li>
            <a href="/users/admins" class="waves-effect">
                <i class="ion ion-ios-key"></i>
                <span> Admin List </span>
            </a>
        </li>

    </ul>
</th:block>

</html>
