<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="topbar-left">
        <ul class="list-unstyled topnav-menu float-right mb-0">
            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="/assets/images/users/triet.jpg" alt="user-image" class="rounded-circle">
                    <span class="pro-user-name ml-1">Nguyen Dai Triet</span>
                </a>
            </li>
        </ul>
    </th:block>
</html>
