<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Drugs List</title>
    <th:block th:replace="/layout/header :: header-p1"></th:block>
    <!-- Notification css (Toast) -->
    <link href="/assets/libs/toastr/css/iziToast.min.css" rel="stylesheet" type="text/css">

    <link href="/assets/libs/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/libs/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/libs/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/libs/datatables/select.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/libs/custombox/custombox.min.css" rel="stylesheet" type="text/css">

    <script src="/assets/js/jQuery/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/jQuery/jquery.validate.js"></script>

    <th:block th:replace="/layout/header :: header-p2"></th:block>

    <script src="/assets/libs/toastr/js/iziToast.min.js"></script>

</head>

<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    <th:block th:replace="/layout/topbar :: topbar"></th:block>
    <!-- end Topbar --> <!-- ========== Left Sidebar Start ========== -->

    <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <th:block th:replace="/layout/sidebar-left :: sidebar-left"></th:block>
            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body table-responsive">

                                <div class="row mb-3">
                                    <div class="col-md-9">
                                        <h2 class="text-dark"><b>DRUGS LIST</b></h2>
                                    </div>
                                    <div class="col-md-3">
                                        <div style="float: right">
                                            <button id="btnCreateForm" class="btn btn-outline-purple">
                                                <i class="fas fa-plus"></i>
                                                <span> Add New Drug</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                    <thead>
                                        <tr class="text-center">
                                            <th>#</th>
                                            <th>Drug Name</th>
                                            <th>Drug content (mg)</th>
                                            <th>Quantity</th>
                                            <th>Price (VND)</th>
                                            <th>Expiration Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
<!--                                        <c:set var="i" value="0"></c:set>-->
<!--                                        <c:forEach var="drug" items="${drugDTOList}">-->
<!--                                            <tr>-->
<!--                                                <td>${i=i+1}</td>-->
<!--                                                <td>${drug.getDrugName()}</td>-->
<!--                                                <td>${drug.getDrugContent()}</td>-->
<!--                                                <td>${drug.getQuantity()}</td>-->
<!--                                                <td>${drug.getPricePerPill()}</td>-->
<!--                                                <td>-->
<!--                                                    <fmt:formatDate pattern = "dd/MM/yyyy" value = "${drug.getExpirationDate()}" />-->
<!--                                                </td>-->
<!--                                                <td>-->
<!--                                                    <a title="Edit" href="/drugs?action=edit&id=${drug.getId()}" class="btn btn-outline-secondary">-->
<!--                                                        <i class="fas fa-pencil-alt"></i>-->
<!--                                                    </a>-->
<!--                                                    <a title="Remove" href="/drugs?action=remove&id=${drug.getId()}" class="btn btn-outline-danger">-->
<!--                                                        <i class="fas fa-trash"></i>-->
<!--                                                    </a>-->
<!--                                                </td>-->
<!--                                            </tr>-->
<!--                                        </c:forEach>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end content -->

        <!-- Footer Start -->
        <th:block th:replace="/layout/footer :: footer"></th:block>
        <!-- end Footer -->


    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>

<th:block th:replace="/layout/modal/add-new-drug :: add-new-drug"></th:block>
<!-- END wrapper -->

<!-- Vendor js -->
<script src="/assets/js/vendor.min.js"></script>

<!-- Required datatable js -->
<script src="/assets/libs/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/libs/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Buttons examples -->
<script src="/assets/libs/datatables/dataTables.buttons.min.js"></script>
<script src="/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
<script src="/assets/libs/jszip/jszip.min.js"></script>
<script src="/assets/libs/pdfmake/pdfmake.min.js"></script>
<script src="/assets/libs/pdfmake/vfs_fonts.js"></script>
<script src="/assets/libs/datatables/buttons.html5.min.js"></script>
<script src="/assets/libs/datatables/buttons.print.min.js"></script>

<!-- Responsive examples -->
<script src="/assets/libs/datatables/dataTables.responsive.min.js"></script>
<script src="/assets/libs/datatables/responsive.bootstrap4.min.js"></script>
<script src="/assets/libs/datatables/dataTables.keyTable.min.js"></script>
<script src="/assets/libs/datatables/dataTables.select.min.js"></script>

<!-- Datatables init -->
<script src="/assets/js/pages/datatables.init.js"></script>

<script src="/assets/libs/custombox/custombox.min.js"></script>

<!-- App js -->
<script src="/assets/js/app.min.js"></script>

<script src="/assets/js/apps.js"></script>

<script>
    let page = {
        urls: {
            getAllDrugs: App.BASE_URL_DRUG,
            getAllDosageForms: App.BASE_URL_DOSAGE_FORM,

        },
        element: {},
        loadData: {},
        commands: {},
        dialogs: {
            element: {},
            loadData: {},
            commands: {},
            close: {},
            alertDanger: {},
            inputError: {}
        }
    }

    page.element.btnShowCreateForm = $("#btnCreateForm");

    page.dialogs.element.mdCreateDrug = $("#mdCreateDrug");

    page.dialogs.element.frmCreDrug = $("#frmCreDrug");
    page.dialogs.element.tempOption = $("#tempOption");

    page.dialogs.element.drugNameCre = $("#drugNameCre");
    page.dialogs.element.drugContentCre = $("#drugContentCre");
    page.dialogs.element.quantityCre = $("#quantityCre");
    page.dialogs.element.dosageFormCre = $("#dosageFormCre");
    page.dialogs.element.usageCre = $("#usageCre");
    page.dialogs.element.pricePerUnitCre = $("#pricePerUnitCre");
    page.dialogs.element.productionDateCre = $("#productionDateCre");
    page.dialogs.element.expirationDateCre = $("#expirationDateCre");
    page.dialogs.element.noteCre = $("#noteCre");
    page.dialogs.element.btnCreateDrug = $("#btnCreDrug");

    page.dialogs.alertDanger.modalCreate = $("#mdCreateDrug .modal-body .modal-alert-danger");


    let drug = new Drug();
    let dosageForm = new DosageForm();

    page.commands.showCreateDrugModal = () => {
        page.dialogs.element.mdCreateDrug.modal("show");
    }

    page.dialogs.commands.createNewDrug = () => {
        delete drug.id;


    }

    page.loadData.getAllDosageForm = () => {

    }

    page.initializeControlEvent = () => {

        page.element.btnShowCreateForm.on("click", () => {
            page.commands.showCreateDrugModal();
        })

        page.dialogs.element.btnCreateDrug.on("click", () => {
            page.dialogs.element.frmCreDrug.submit();
            page.dialogs.commands.createNewDrug();

        })


    }

    $(function () {
        page.initializeControlEvent();
    });


</script>

</body>
</html>