<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Drugs List</title>
    <th:block th:replace="/layout/header :: header-p1"></th:block>
    <!-- Notification css (Toast) -->
    <link href="/assets/libs/toastr/css/iziToast.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/sweetalert2.min.css" rel="stylesheet" type="text/css">

    <link href="/assets/libs/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/libs/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/libs/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/libs/datatables/select.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/libs/custombox/custombox.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">

    <script src="/assets/js/jQuery/jquery-3.6.0.min.js"></script>

    <th:block th:replace="/layout/header :: header-p2"></th:block>


    <script src="/assets/libs/toastr/js/iziToast.min.js"></script>
    <script src="/assets/js/sweetAlert2/sweetalert2.min.js"></script>

</head>

<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    <th:block th:replace="/layout/topbar :: topbar"></th:block>
    <!-- end Topbar --> <!-- ========== Left Sidebar Start ========== -->

    <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <th:block th:replace="/layout/sidebar-left :: sidebar-left"></th:block>
            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body table-responsive">

                                <div class="row mb-3">
                                    <div class="col-md-9">
                                        <h2 class="text-dark"><b>DRUGS LIST</b></h2>
                                    </div>
                                    <div class="col-md-3">
                                        <div style="float: right">
                                            <button id="btnCreateForm" class="btn btn-outline-purple">
                                                <i class="fas fa-plus"></i>
                                                <span> Add New Drug</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="currentRow"/>

                                <table id="datatable" class="table table-bordered dt-responsive nowrap tbDrugList" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr class="text-center">
                                            <th>#</th>
                                            <th>Drug Name</th>
                                            <th>Drug content (mg)</th>
                                            <th>Quantity</th>
                                            <th>Price (VND)</th>
                                            <th>Expiration Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end content -->

        <!-- Footer Start -->
        <th:block th:replace="/layout/footer :: footer"></th:block>
        <!-- end Footer -->


    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<th:block th:include="/drug-management/temp_option :: temp_option"/>
<th:block th:include="/drug-management/temp_list_table :: temp_list_table_drug"/>

<th:block th:replace="/layout/modal/add-new-drug :: add-new-drug"></th:block>
<th:block th:replace="/layout/modal/update-drug :: update-drug"></th:block>
<!-- END wrapper -->

<!-- Vendor js -->
<script src="/assets/js/vendor.min.js"></script>

<!-- Required datatable js -->
<script src="/assets/libs/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/libs/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Buttons examples -->
<script src="/assets/libs/datatables/dataTables.buttons.min.js"></script>
<script src="/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
<script src="/assets/libs/jszip/jszip.min.js"></script>
<script src="/assets/libs/pdfmake/pdfmake.min.js"></script>
<script src="/assets/libs/pdfmake/vfs_fonts.js"></script>
<script src="/assets/libs/datatables/buttons.html5.min.js"></script>
<script src="/assets/libs/datatables/buttons.print.min.js"></script>

<!-- Responsive examples -->
<script src="/assets/libs/datatables/dataTables.responsive.min.js"></script>
<script src="/assets/libs/datatables/responsive.bootstrap4.min.js"></script>
<script src="/assets/libs/datatables/dataTables.keyTable.min.js"></script>
<script src="/assets/libs/datatables/dataTables.select.min.js"></script>

<!-- Datatables init -->
<!--<script src="/assets/js/pages/datatables.init.js"></script>-->

<script src="/assets/libs/custombox/custombox.min.js"></script>

<!-- App js -->
<script src="/assets/js/app.min.js"></script>

<script src="/assets/js/jQuery/jquery.validate.js"></script>

<script src="/assets/js/custom-validation.js"></script>

<script src="/assets/js/apps.js"></script>

<script>
    let page = {
        urls: {
            getAllDrugs: App.BASE_URL_DRUG,
            getDrugById: App.BASE_URL_DRUG + "/findDrug",
            getAllDosageForms: App.BASE_URL_DOSAGE_FORM,
            createNewDrug: App.BASE_URL_DRUG + "/create",
            updateDrug: App.BASE_URL_DRUG + "/update",
            removeDrug: App.BASE_URL_DRUG + "/remove"
        },
        element: {},
        loadData: {},
        commands: {},
        dialogs: {
            element: {},
            loadData: {},
            commands: {},
            close: {},
            alertDanger: {},
            inputError: {}
        }
    }

    page.element.currentRow = $("#currentRow");
    page.element.btnShowCreateForm = $("#btnCreateForm");
    page.element.tempCustomer = $("#tempDrug");
    page.element.tbDrugList = $(".tbDrugList tbody");

    page.dialogs.element.mdCreateDrug = $("#mdCreateDrug");
    page.dialogs.element.mdUpdateDrug = $("#mdUpdateDrug");

    page.dialogs.element.frmCreDrug = $("#frmCreDrug");
    page.dialogs.element.frmUpDrug = $("#frmUpDrug");
    page.dialogs.element.tempOption = $("#tempOption");

    page.dialogs.element.drugNameCre = $("#drugNameCre");
    page.dialogs.element.drugContentCre = $("#drugContentCre");
    page.dialogs.element.quantityCre = $("#quantityCre");
    page.dialogs.element.dosageFormCre = $("#dosageFormCre");
    page.dialogs.element.usageCre = $("#usageCre");
    page.dialogs.element.pricePerUnitCre = $("#pricePerUnitCre");
    page.dialogs.element.productionDateCre = $("#productionDateCre");
    page.dialogs.element.expirationDateCre = $("#expirationDateCre");
    page.dialogs.element.noteCre = $("#noteCre");
    page.dialogs.element.btnCreateDrug = $("#btnCreDrug");

    page.dialogs.element.drugNameUp = $("#drugNameUp");
    page.dialogs.element.drugContentUp = $("#drugContentUp");
    page.dialogs.element.quantityUp = $("#quantityUp");
    page.dialogs.element.dosageFormUp = $("#dosageFormUp");
    page.dialogs.element.usageUp = $("#usageUp");
    page.dialogs.element.pricePerUnitUp = $("#pricePerUnitUp");
    page.dialogs.element.productionDateUp = $("#productionDateUp");
    page.dialogs.element.expirationDateUp = $("#expirationDateUp");
    page.dialogs.element.noteUp = $("#noteUp");
    page.dialogs.element.btnUpdateDrug = $("#btnUpDrug");

    page.dialogs.alertDanger.mdCreateDrug = $("#mdCreateDrug .modal-body .modal-alert-danger");
    page.dialogs.alertDanger.mdUpdateDrug = $("#mdUpdateDrug .modal-body .modal-alert-danger");

    let drug = new Drug();
    let dosageForm = new DosageForm();

    let tempDrug = $.validator.format($.trim(page.element.tempCustomer.val().toString()));
    let tempOption = $.validator.format($.trim(page.dialogs.element.tempOption.val().toString()));

    page.loadData.getAllDrugs = () => {
        return $.ajax({
            type: "GET",
            url: page.urls.getAllDrugs
        })
        .done((data) => {

            $.each(data, (index, item) => {
                drug = item;
                page.commands.addRow();
            });

        })
        .fail(() => {
            App.showErrorAlert("Drug list not found!");
        })
    };

    page.commands.findDrugById = (drugId) => {
        return $.ajax({
            type: "GET",
            url: page.urls.getDrugById + "/" + drugId
        })
        .done((data) => {
            drug = data;
        })
        .fail(() => {
            App.showErrorAlert("Drug not found!");
        })
    }

    page.commands.addRow = () => {
        page.element.tbDrugList.prepend($(tempDrug(drug.id, drug.drugName, drug.drugContent, drug.quantity, drug.pricePerUnit, drug.expirationDate)));
    }

    page.commands.updateRow = (data) => {
        let currentRow = $("#tr_" + data.id);
        let updatedRow = $(tempDrug(data.id, data.drugName, data.drugContent, data.quantity, data.pricePerUnit, data.expirationDate));
        currentRow.replaceWith(updatedRow);
    }

    page.commands.showCreateDrugModal = () => {
        page.dialogs.element.mdCreateDrug.modal("show");
    }

    page.commands.hideCreateDrugModal = () => {
        page.dialogs.element.mdCreateDrug.modal("hide");
    }

    page.commands.showUpdateDrugModal = () => {
        page.dialogs.element.mdUpdateDrug.modal("show");
    }

    page.commands.hideUpdateDrugModal = () => {
        page.dialogs.element.mdUpdateDrug.modal("hide");
    }

    page.commands.showRemoveDrugModal = (drugId) => {
        App.showConfirmDialog(App.REMOVE_DRUG)
            .then((result) => {
                if (result.isConfirmed) {
                    page.dialogs.commands.removeDrug(drugId);
                }
            });
    }

    page.commands.handleBtnUpdateDrug = () => {
        $(document).on("click", ".btn-update-drug", function() {
            let id = $(this).data("id");
            page.commands.findDrugById(id).then(() => {
                page.commands.showUpdateDrugModal();
                page.dialogs.element.drugNameUp.val(drug.drugName);
                page.dialogs.element.drugContentUp.val(drug.drugContent);
                page.dialogs.element.quantityUp.val(drug.quantity);
                page.dialogs.element.dosageFormUp.val(drug.dosageForm.id);
                page.dialogs.element.usageUp.val(drug.drugUsage);
                page.dialogs.element.pricePerUnitUp.val(drug.pricePerUnit);
                page.dialogs.element.productionDateUp.val(drug.productionDate);
                page.dialogs.element.expirationDateUp.val(drug.expirationDate);
                page.dialogs.element.noteUp.val(drug.note);
            });
        });
    }

    page.commands.handleBtnRemoveDrug = () => {
        $(document).on("click", ".btn-remove-drug", function() {
            let id = $(this).data("id");
            page.commands.findDrugById(id).then(() => {
                page.commands.showRemoveDrugModal(id);
            });
        });
    }

    page.dialogs.commands.createNewDrug = () => {

        delete drug.id;
        drug.drugName = page.dialogs.element.drugNameCre.val();
        drug.drugContent = page.dialogs.element.drugContentCre.val();
        drug.quantity = page.dialogs.element.quantityCre.val();
        drug.pricePerUnit = page.dialogs.element.pricePerUnitCre.val();
        drug.drugUsage = page.dialogs.element.usageCre.val();
        drug.productionDate = page.dialogs.element.productionDateCre.val();
        drug.expirationDate = page.dialogs.element.expirationDateCre.val();
        drug.note = page.dialogs.element.noteCre.val();
        dosageForm.id = page.dialogs.element.dosageFormCre.val();
        drug.dosageForm = dosageForm;

        page.dialogs.alertDanger.mdCreateDrug.removeClass('show').addClass('hide').empty();

        $.ajax({
            type: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: page.urls.createNewDrug,
            data: JSON.stringify(drug)
        })
        .done((data) => {
            drug = data;
            page.commands.addRow();
            App.showSuccessAlert(App.SUCCESS_CREATED);
            page.commands.hideCreateDrugModal();
        })
        .fail((jqXHR) => {
            let str='';

            if (jqXHR.responseJSON) {
                $.each(jqXHR.responseJSON, (key,value) => {
                    str += `<label id="${key}-error" class="error" for="${key}Cre">${value}</label>`
                })

                page.dialogs.alertDanger.mdCreateDrug.removeClass('hide').addClass('show').append(str);
            }
            else {
                let str = `<label id="message-error" class="error">${jqXHR.responseText}</label>`
                page.dialogs.alertDanger.mdCreateDrug.removeClass('hide').addClass('show').append(str);
            }
        })

    }

    page.dialogs.commands.updateDrug = () => {

        drug.drugName = page.dialogs.element.drugNameUp.val();
        drug.drugContent = page.dialogs.element.drugContentUp.val();
        drug.quantity = page.dialogs.element.quantityUp.val();
        drug.pricePerUnit = page.dialogs.element.pricePerUnitUp.val();
        drug.drugUsage = page.dialogs.element.usageUp.val();
        drug.productionDate = page.dialogs.element.productionDateUp.val();
        drug.expirationDate = page.dialogs.element.expirationDateUp.val();
        drug.note = page.dialogs.element.noteUp.val();
        dosageForm.id = page.dialogs.element.dosageFormUp.val();
        drug.dosageForm = dosageForm;

        page.dialogs.alertDanger.mdUpdateDrug.removeClass('show').addClass('hide').empty();

        $.ajax({
            type: "PUT",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: page.urls.updateDrug,
            data: JSON.stringify(drug)
        })
        .done((data) => {
            page.commands.updateRow(data);
            App.showSuccessAlert(App.SUCCESS_UPDATED);
            page.commands.hideUpdateDrugModal();
        })
        .fail((jqXHR) => {
            let str='';
            if (jqXHR.responseJSON) {
                $.each(jqXHR.responseJSON, (key,value) => {
                    str += `<label id="${key}-error" class="error" for="${key}Up">${value}</label>`
                })
                page.dialogs.alertDanger.mdUpdateDrug.removeClass('hide').addClass('show').append(str);
            }
            else {
                let str = `<label id="message-error" class="error">${jqXHR.responseText}</label>`
                page.dialogs.alertDanger.mdUpdateDrug.removeClass('hide').addClass('show').append(str);
            }
        })
    };

    page.dialogs.commands.removeDrug = (id) => {
        $.ajax({
            type: "DELETE",
            url: page.urls.removeDrug + "/" + id
        })
        .done(() => {
            App.showSuccessAlert(App.SUCCESS_REMOVED);
            $("#tr_" + id).remove();
        })
        .fail( (jQXHR) => {
            App.showErrorAlert(jQXHR.responseText);
        });

    }

    page.dialogs.loadData.getAllDosageForms = () => {
        return $.ajax({
            type: "GET",
            url: page.urls.getAllDosageForms
        })
        .done((data) => {
            $.each(data, (i, item) => {
                page.dialogs.element.dosageFormCre.append($(tempOption(item.id, item.name)));
            });
            $.each(data, (i, item) => {
                page.dialogs.element.dosageFormUp.append($(tempOption(item.id, item.name)));
            });
        })
        .fail(() => {
            App.showErrorAlert("Dosage form list not found!");
        })
    }

    page.dialogs.close.mdCreateDrug = () => {
        page.dialogs.alertDanger.mdCreateDrug.empty();
        page.dialogs.alertDanger.mdCreateDrug.addClass("hide");
        page.dialogs.alertDanger.mdCreateDrug.removeClass("show");
        page.dialogs.element.frmCreDrug.find("input.error").removeClass("error");
        page.dialogs.element.frmCreDrug[0].reset();
        page.dialogs.element.frmCreDrug.validate().resetForm();
    };

    page.dialogs.close.mdUpdateDrug = () => {
        page.element.currentRow.val("");
        page.dialogs.alertDanger.mdUpdateDrug.empty();
        page.dialogs.alertDanger.mdUpdateDrug.addClass("hide");
        page.dialogs.alertDanger.mdUpdateDrug.removeClass("show");
        page.dialogs.element.frmUpDrug.find("input.error").removeClass("error");
        page.dialogs.element.frmUpDrug[0].reset();
        page.dialogs.element.frmUpDrug.validate().resetForm();
    };

    page.initializeControlEvent = () => {

        page.element.btnShowCreateForm.on("click", () => {
            page.commands.showCreateDrugModal();
        })

        page.dialogs.element.btnCreateDrug.on("click", () => {
            page.dialogs.element.frmCreDrug.submit();
        })

        page.dialogs.element.btnUpdateDrug.on("click", () => {
            page.dialogs.element.frmUpDrug.submit();
        })

        page.dialogs.element.mdCreateDrug.on("hidden.bs.modal", function () {
            page.dialogs.close.mdCreateDrug();
        });

        page.dialogs.element.mdUpdateDrug.on("hidden.bs.modal", function () {
            page.dialogs.close.mdUpdateDrug();
        });

        page.commands.handleBtnUpdateDrug();

        page.commands.handleBtnRemoveDrug();

    }

    $(function () {
        page.loadData.getAllDrugs();
        page.dialogs.loadData.getAllDosageForms();
        page.initializeControlEvent();
    });


</script>
</body>
</html>