
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="update-drug">
    <div id="mdUpdateDrug" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title text-primary" id="myLargeModalLabel">Update drug</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>

                <div class="modal-body">
                    <div class="modal-alert-danger hide"></div>
                    <form class="parsley-examples" id="frmUpDrug" autocomplete="off">
                        <div class="row mt-3">
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label for="drugNameUp">Drug Name <span class="text-danger">*</span></label>
                                <input type="text" name="drugNameUp" parsley-trigger="change" placeholder="Example: Paracetamol" required class="form-control" id="drugNameUp">
                            </div>
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label for="drugContentUp">Drug Content (mg)<span class="text-danger">*</span></label>
                                <input type="number" name="drugContentUp" parsley-trigger="change" required="" class="form-control" id="drugContentUp">
                            </div>
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label for="quantityUp">Quantity<span class="text-danger">*</span></label>
                                <input id="quantityUp" name="quantityUp" type="number" required="" class="form-control">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label for="pricePerUnitUp">Price (VND)<span class="text-danger">*</span></label>
                                <input type="number" name="pricePerUnitUp" required="" class="form-control" id="pricePerUnitUp">
                            </div>
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label for="dosageFormUp">Dosage Form <span class="text-danger">*</span></label>
                                <select class="form-control" data-toggle="select2" id="dosageFormUp" name="dosageFormUp">

                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label for="usageUp">Usage</label>
                                <input type="text" name="usageUp" placeholder="Example: Headache, Stomach ache" class="form-control" id="usageUp">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label for="productionDateUp">Production Date <span class="text-danger">*</span></label>
                                <input class="form-control" id="productionDateUp" type="date" name="productionDateUp" required>
                            </div>
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label for="expirationDateUp">Expiration Date <span class="text-danger">*</span></label>
                                <input class="form-control" id="expirationDateUp" type="date" name="expirationDateUp" required>
                            </div>
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label for="noteUp">Note</label>
                                <input type="text" name="noteUp" class="form-control" id="noteUp">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                    <button id="btnUpDrug" type="button" class="btn btn-primary waves-effect waves-light">Update</button>
                </div>

            </div>
        </div>
    </div>
</th:block>

</html>
