<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Detail</title>
    <th:block th:replace="/layout/header :: header-p1"></th:block>
    <th:block th:replace="/layout/header :: header-p2"></th:block>
    <link href="/assets/libs/toastr/css/iziToast.min.css" rel="stylesheet" type="text/css">
    <script src="/assets/libs/toastr/js/iziToast.min.js"></script>
</head>

<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    <th:block th:replace="/layout/topbar :: topbar"></th:block>
    <!-- end Topbar --> <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <th:block th:replace="/layout/sidebar-left :: sidebar-left"></th:block>
            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->

    <div class="content-page">
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-9">
                        <div class="page-title-box">
                            <h2 class="text-secondary">Your Account</h2>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="page-title-box" style="text-align: right">
                            <a title="Back to list" href="/drugs" class="btn btn-outline-info">
                                <i class="fas fa-arrow-left"></i>
                                <span> Back</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table mb-0" th:object="${user}">
                                        <thead class="table-active">
                                            <tr>
                                                <th style="width: 5%">#</th>
                                                <th style="width: 20%">Title</th>
                                                <th>Detail</th>
                                            </tr>
                                        </thead>
                                        <tbody class="bg-dark text-white">
                                            <tr>
                                                <th scope="row">1</th>
                                                <td class="font-weight-bold">Full Name</td>
                                                <td th:text="*{fullName}"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td class="font-weight-bold">Email Address</td>
                                                <td th:text="*{username}"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td class="font-weight-bold">Phone Number</td>
                                                <td th:text="*{phoneNumber}"</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td class="font-weight-bold">Address</td>
                                                <td th:text="*{address}"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td class="font-weight-bold">Role</td>
                                                <td th:text="*{role.code}"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">6</th>
                                                <td class="font-weight-bold">Creation Date</td>
                                                <td th:text="*{creationDate}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="mt-3" >
                                    <a id="btn-block"  title="Block this user" href="/users?action=block&id=${user.getId()}" class="btn btn-outline-danger">
                                            <i class="fas fa-user-lock"></i>
                                             Block
                                    </a>
                                    <a id="btn-unblock" style="visibility: hidden" title="Unblock this user" href="/users?action=unblock&id=${user.getId()}" class="btn btn-outline-purple">
                                            <i class=" fas fa-user-check"></i>
                                             Unblock
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:include="/drug-management/temp_list_table :: temp_list_table_user"/>

    </div>

</div>


<script src="/assets/js/vendor.min.js"></script>

<!-- App js -->
<script src="/assets/js/app.min.js"></script>

</body>

</html>