
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Users List</title>
    <th:block th:replace="/layout/header :: header-p1"></th:block>

    <link href="/assets/libs/toastr/css/iziToast.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/sweetalert2.min.css" rel="stylesheet" type="text/css">

    <link href="/assets/libs/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/libs/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/libs/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/libs/datatables/select.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <script src="/assets/js/jQuery/jquery-3.6.0.min.js"></script>

    <th:block th:replace="/layout/header :: header-p2"></th:block>
    <link href="/assets/css/style.css">

    <script src="/assets/libs/toastr/js/iziToast.min.js"></script>
    <script src="/assets/js/sweetAlert2/sweetalert2.min.js"></script>

</head>

<body>

<div id="wrapper">

    <th:block th:replace="/layout/topbar :: topbar"></th:block>

    <div class="left-side-menu">

        <div class="slimscroll-menu">
            <div id="sidebar-menu">
                <th:block th:replace="/layout/sidebar-left :: sidebar-left"></th:block>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>

    <div class="content-page">
        <div class="content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body table-responsive">

                                <div class="row mb-3">
                                    <div class="col-md-9">
                                        <h2 class="text-"><b>USERS LIST</b></h2>
                                    </div>
                                </div>

                                <table class="table table-bordered dt-responsive nowrap tbUserList" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                    <thead>
                                    <tr class="text-center">
                                        <th>#</th>
                                        <th>Full Name</th>
                                        <th>Phone Number</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>Role</th>
                                        <th>Creation Date</th>
                                        <th colspan="2">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="/layout/footer :: footer"></th:block>
    </div>

    <th:block th:include="/drug-management/temp_list_table :: temp_list_table_user"/>

</div>
<!-- Vendor js -->
<script src="/assets/js/vendor.min.js"></script>

<!-- Required datatable js -->
<script src="/assets/libs/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/libs/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="/assets/libs/datatables/dataTables.buttons.min.js"></script>
<script src="/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
<script src="/assets/libs/jszip/jszip.min.js"></script>
<script src="/assets/libs/pdfmake/pdfmake.min.js"></script>
<script src="/assets/libs/pdfmake/vfs_fonts.js"></script>
<script src="/assets/libs/datatables/buttons.html5.min.js"></script>
<script src="/assets/libs/datatables/buttons.print.min.js"></script>

<!-- Responsive examples -->
<script src="/assets/libs/datatables/dataTables.responsive.min.js"></script>
<script src="/assets/libs/datatables/responsive.bootstrap4.min.js"></script>

<script src="/assets/libs/datatables/dataTables.keyTable.min.js"></script>
<script src="/assets/libs/datatables/dataTables.select.min.js"></script>

<!-- Datatables init -->
<script src="/assets/js/pages/datatables.init.js"></script>

<script src="/assets/js/jQuery/jquery.validate.js"></script>

<!-- App js -->
<script src="/assets/js/app.min.js"></script>

<script src="/assets/js/apps.js"></script>

<script>

    let page = {
        urls: {
            getAllUsers: App.BASE_URL_USER,
            getUserById: App.BASE_URL_USER + "/" + "findUser",
            blockUser: App.BASE_URL_USER + "/" + "blockUser",
            unblockUser: App.BASE_URL_USER + "/" + "unblockUser"
        },
        element: {},
        loadData: {},
        commands: {}
    }

    let user = {
        id: {},
        username: {},
        password: {},
        fullName: {},
        phoneNumber: {},
        address: {},
        roleName: {},
        role: {},
        creationDate: {},
        deleted: {},
    }

    page.element.tbUserList = $(".tbUserList tbody");
    page.element.btnBlockUser = $(".btn-block-user");
    page.element.btnUnblockUser = $(".btn-unblock-user");
    page.element.tempUser = $("#tempUser");

    let tempUser = $.validator.format($.trim(page.element.tempUser.val().toString()));

    page.loadData.getAllUsers = () => {
        return $.ajax({
            type: "GET",
            url: page.urls.getAllUsers
        })
        .done((data) => {

            $.each(data, (index, item) => {
                user = item;
                page.commands.addRow();
                if (item.deleted) {
                    $(`#tr_${item.id} .id`).css("background","red");
                    $(`#tr_${item.id} .btn-block-user`).css("display","none");
                    $(`#tr_${item.id} .btn-unblock-user`).css("display","block");
                }
            });

        })
        .fail(() => {
            App.SweetAlert.showErrorAlert("User list not found!");
        })
    }

    page.commands.addRow = () => {
        page.element.tbUserList.prepend($(tempUser(user.id, user.fullName, user.phoneNumber, user.username, user.address, user.roleName,user.creationDate)));
    }


    page.commands.handleBtnBlockUser = () => {
        $(document).on("click", ".btn-block-user", function() {
            let id = $(this).data("id");
            page.commands.findUserById(id).then(() => {
                page.commands.showRemoveDrugModal(id);
            });
        });
    }

    page.commands.handleBtnUnblockUser = () => {
        $(document).on("click", ".btn-unblock-user", function() {
            let id = $(this).data("id");
            page.commands.findUserById(id).then(() => {
                page.commands.unblockUser(id);
            });
        });
    };

    page.commands.findUserById = (userId) => {
        return $.ajax({
            type: "GET",
            url: page.urls.getUserById + "/" + userId
        })
        .fail((jQXHR) => {
            App.SweetAlert.showErrorAlert(jQXHR.responseText);
        })
    }

    page.commands.showRemoveDrugModal = (userId) => {
        App.SweetAlert.showConfirmDialog(App.BLOCK_USER)
            .then((result) => {
                if (result.isConfirmed) {
                    page.commands.blockUser(userId);
                }
            });
    }

    page.commands.blockUser = (id) => {
        $.ajax({
            type: "PUT",
            url: page.urls.blockUser + "/" + id
        })
        .done(() => {
            App.SweetAlert.showSuccessAlert("User Blocked!");
            $(`#tr_${id} .id`).css("background","red");
            $(`#tr_${id} .btn-block-user`).css("display","none");
            $(`#tr_${id} .btn-unblock-user`).css("display","block");
        })
        .fail( (jQXHR) => {
            App.SweetAlert.showErrorAlert(jQXHR.responseText);
        });
    }

    page.commands.unblockUser = (id) => {
        $.ajax({
            type: "PUT",
            url: page.urls.unblockUser + "/" + id
        })
        .done(() => {
            App.SweetAlert.showSuccessAlert("User Unblocked!");
            $(`#tr_${id} .id`).css("background","white");
            $(`#tr_${id} .btn-block-user`).css("display","block");
            $(`#tr_${id} .btn-unblock-user`).css("display","none");
        })
        .fail( (jQXHR) => {
            App.SweetAlert.showErrorAlert(jQXHR.responseText);
        });
    }

    page.initializeControlEvent = () => {

        page.commands.handleBtnBlockUser();
        page.commands.handleBtnUnblockUser();
    };

    $(function () {
        page.loadData.getAllUsers();
        page.initializeControlEvent();
    });

</script>
</body>
</html>